{% extends "base.html" %}
{% block content %}
<title>Conversor MP4</title>
<script src="{{ url_for('static', filename='js/ferramentas.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/conversor.css') }}">

<body>
    <div class="container mt-5" style="margin: auto;">
        <h1 class="text-center mb-4" style="font-weight:bold; color:white; text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.6);">Baixar MP3 ou MP4 - Site Misterioso</h1>
        <form action="{{ url_for('baixar_site_misterioso') }}" method="POST" class="p-4 bg-dark rounded shadow ajustar mx-auto" style="color:white;">
            <div class="form-group">
                <label for="url" class="form-label">Cole a URL do vídeo:</label>
                <input type="text" class="form-control" id="url" name="url" required>
            </div>
            <div class="form-group mt-3">
                <label for="formato" class="form-label">Escolha o formato:</label>
                <select name="formato" class="form-control" id="formato" required>
                    <option value="mp3">MP3</option>
                    <option value="mp4">MP4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100 custom-hover-btn" style="margin-top:10px; background-color:gainsboro; color:black; font-size:15px; font-weight:bold; text-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.3);">Baixar</button>
        </form>
    </div>
    

    <!-- Divisão entre o conversor e os comentários -->
    <div class="divider"></div>

    <div class="comment-section-container">
        <form action="{{ url_for('conversor') }}" method="POST" class="comment-box">
            <textarea name="comentario" placeholder="Escreva seu comentário aqui..." id="user-comment" required></textarea>
            <button type="submit" class="btn-submit">Publicar Comentário</button>
        </form>
    </div>
    

    {% if comentario %}
    <div class="comment-section-container" style="padding-bottom:30px;">
        <div class="comment-section">
            {% for comentario in comentario %}
            <div class="comment" id="comment-{{ comentario.id_comentario }}">
                <div class="user-avatar">
                    <img src="{{ url_for('static', filename=usuario.img_perfil) }}" style="width:50px; height:50px; border-radius:50%;" alt="Profile">
                </div>
                <div class="comment-content">
                    <div class="comment-header">
                        <span class="user-name">{{ comentario.nome_usuario }}</span>
                        <span class="comment-date">{{ comentario.data_comentario }} às {{ comentario.hora_comentario }}</span>
                    </div>
    
                    <!-- Texto do comentário -->
                    <p class="comment-text" id="text-{{ comentario.id_comentario }}">{{ comentario.comentario_texto }}</p>
    
                    <!-- Campo de entrada para editar comentário (inicialmente oculto) -->
                    <input type="text" class="comment-edit-input" id="input-{{ comentario.id_comentario }}" value="{{ comentario.comentario_texto }}" style="display: none;">
    
                    {% if session['id_usuario'] == comentario.id_usuario %}
                    <div class="comment-actions">
                        <!-- Botão para alternar entre modo de edição e visualização -->
                        <button class="btn btn-edit" onclick="enableEditMode({{ comentario.id_comentario }})">Editar</button>
                        
                        <!-- Botão de salvar (inicialmente oculto) -->
                        <button class="btn btn-edit" id="save-{{ comentario.id_comentario }}" onclick="saveEdit({{ comentario.id_comentario }})" style="display: none;">Salvar</button>
                        
                        <!-- Botão de excluir -->
                        <form action="{{ url_for('deletar_comentario', comentario_id=comentario.id_comentario, next=request.path) }}" method="POST" style="display:inline;">
                            <button type="button" class="btn btn-delete" onclick="deletarComentario(event, {{ comentario.id_comentario }})">Excluir</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div style="padding-bottom:40px; padding-right:10%; padding-left: 10%; ">
        <div class="no-comments">
            <h2>Sem comentários atualmente</h2>
            <p>Seja o primeiro a compartilhar sua opinião!</p>
        </div>
    </div>
{% endif %}


    

</div>
</body>

    
</body>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-OgwmRWzUGE9VNw6aJfwdgnvwTbkKcwQzT5nlwGkE2riVVkJRLaXvBVbvTqQ8PwHd" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous" defer></script>

</html>
